{% extends "layout.html" %}

{% block title %}XML-RPC client{% endblock %}
{% block h1 %}XML-RPC client{% endblock %}
{% block page_id %}client{% endblock %}

{% block js %}
  <script type="text/javascript">

    var client = {
      steps: 5,
      getLoadingMessage: function()
        {
          return $('<p>Next try in ' + (client.steps - (client.step ? client.step : 0)) + 's. <a href="#">Reload now</a>.</p>')
            .find('a').click(function (event)
              {
                event.preventDefault();
                client.getJobsAwaitingApproval(true);
              }).end();
        },
      getJobsAwaitingApproval: function(restart)
        {
          if (!restart && client.step < client.steps - 1)
          {
            client.step++;

            $('#loading').html(client.getLoadingMessage());

            return;
          }
          // First time this function is called
          else
          {
            client.step = 0;
          }

          $('#loading').html(client.getLoadingMessage());

          window.clearInterval(client.intervalID);

          $.ajax({
            cache: false,
            complete: function()
              {
                client.intervalID = window.setInterval(client.getJobsAwaitingApproval, 1000);
              },
            dataType: 'xml',
            error: function(xhr, text)
              {
                $('#result').html(text);
              },
            type: 'GET',
            success: function(data)
              {
                $jobs = $(data).find('Job');

                if (0 == $jobs.length || (1 == $jobs.length && 0 == $jobs.eq(0).children().length))
                {
                  $('#result').html('<p>Empty.</p>');

                  return;
                }
                
                $('#result').empty();

                $jobs.each(function (index)
                  {
                    var $this = $(this);
                    var $result = $('#result');

                    $result.append(
                      '<div class="job" uuid="' + $this.children('UUID').text() + '">' +
                      '<p><strong>UUID:</strong> ' + $this.children('UUID').text() + '</p>' +
                      '<p><strong>Directory:</strong> ' + $this.children('Directory').text() + '</p>' +
                      '<p><strong>Description for approval:</strong> ' + $this.children('descriptionForApproval').text() + '</p>' +
                      '<p><a class="approve" href="#">Approve</a></p>' +
                      '</div>').find('.approve').click(function (event)
                        {
                          event.preventDefault();

                          $.ajax({
                            context: $(this),
                            data: { uuid: $(this).closest('div.job').attr('uuid') },
                            type: 'POST',
                            success: function(data)
                              {
                                if (0 < data.length)
                                {
                                  this.replaceWith('<p>Approved!</p>');
                                }
                              },
                            url: '/mcp/approve-job/'
                          });
                        });
                  });
              },
            url: '/mcp/jobs-awaiting-approval/'
          });
        }
    };

    $(document).ready(function()
      {
        $('#content').html(
          '<div id="loading">&nbsp;</div>' +
          '<div id="result">&nbsp;</div>');

        client.getJobsAwaitingApproval();

      });

  </script>
{% endblock %}

{% block content %}
  <div>
    <p>This page requires a javascript capable browser.</p>
  </div>
{% endblock %}
