{% extends "layout.html" %}

{% load map_known_values %}

{% block title %}Jobs+{% endblock %}
{% block h1 %}Jobs+{% endblock %}
{% block page_id %}jobsplus{% endblock %}

{% block js %}
  <script type="text/javascript">

    var client = {
      steps: 5,
      getJobsAwaitingApproval: function()
        {
          if (client.step < client.steps - 1)
          {
            client.step++;

            return;
          }
          // First time this function is called
          else
          {
            client.step = 0;
          }

          window.clearInterval(client.intervalID);

          $.ajax({
            cache: false,
            complete: function()
              {
                // client.intervalID = window.setInterval(client.getJobsAwaitingApproval, 1000);
              },
            dataType: 'xml',
            error: function(xhr, text)
              {
                $('#result').html(text);
              },
            type: 'GET',
            success: function(data)
              {
                $jobs = $(data).find('Job');

                $jobs.each(function (index)
                  {
                    var $this = $(this);
                    var uuid = $this.children('UUID').text();
                    var $tr = $('tr[uuid=' + uuid + ']');

                    $tr.not('.ready')
                      .addClass('ready')
                      .insertBefore('table tr:eq(1)')
                      .find('p.approval_description').show().children('span').html($this.children('descriptionForApproval').text());
                  
                    $tr.find('p.actions a').show().end().find('a.btn_approve_job').removeClass('hidden').click(function (event)
                      {
                        event.preventDefault();

                        $.ajax({
                          context: $(this).closest('td'),
                          data: { uuid: uuid },
                          type: 'POST',
                          success: function(data)
                            {
                              if (0 < data.length)
                              {
                                this
                                 .html('<strong>completedSuccessfully</strong>')
                                 .parent().removeClass('ready');
                              }
                            },
                          url: '/mcp/approve-job/'
                        });
                      });
                  });
              },
            url: '/mcp/jobs-awaiting-approval/'
          });
        }
    };

    $(document).ready(function()
      {
        // client.getJobsAwaitingApproval();

        // Show tasks button
        $('a.btn_show_tasks').live('click', function (event)
          {
            event.preventDefault();
            
            var $this = $(this);
            
            if ($this.text() == 'Show tasks')
            {
              $this.text('Loading');

              $.ajax({
                data: { jobuuid: $this.closest('tr').attr('uuid') },
                type: 'GET',
                success: function(data)
                  {
                    var taskrows = $(data).find('table');

                    var $box = $('<div class="tasks" />')
                      .append(taskrows)
                      .find('table').prepend('<caption>Tasks</caption>').end();

                    $this.closest('tr').find('div.data').html($box.hide());
                    $box.slideDown('fast', function()
                      {
                        $this.text('Hide tasks');
                      });
                  },
                url: '/tasks/'
              });
            }
            else
            {
              $this.text('Show tasks');
              
              $this.closest('tr').find('div.tasks').slideUp('fast');
            }
          });

          // SIP and job rows
          $('tr.job').hide();
          $('tr.sip')
            .css('cursor', 'pointer')
            .click(function()
              {
                $(this)
                  .toggleClass('sip-enabled')
                  .nextUntil('tr.sip').toggle()
                  .end().scroll();
              })
            .hover(function()
              {
                $(this).toggleClass('sip-hover');
              })
            .nextUntil('tr.sip').hover(function()
              {
                $(this).prevAll('tr.sip:first').toggleClass('sip-hover');
              });
      });

  </script>
  <style type="text/css">
    .odd { background-color: #f2f2f2; }
     p { margin: 0px; }
     p.approval_description, .hidden { display: none; }
     div.tasks { margin-top: 10px; }
     p.actions a { margin-left: 4px; }
     .hide_in_ajax { display: none; }
     .ready { background-color: #ffdda7; }

    tr.sip td span { background-color: White; padding: 2px 4px; border: 1px solid #666; margin-right: 8px; }
    tr.sip td { background-color: #ffdda7; padding: 12px 8px; }
    tr.sip-hover td,
    tr.sip-enabled td { background-color: #4388a7; }
  </style>
{% endblock %}

{% block content %}

  {% regroup objects by sipuuid as sip_list %}

  <table border="1" width="100%" style="margin: 20px auto 0 auto;">
    <thead>
      <th colspan="2">SIP</th>
    </thead>
    <tbody>
      {% for sip in sip_list %}
        <tr class="sip {% cycle 'odd' 'even' %}">
          <td colspan="2"><span>SIP</span><strong>{{ sip.grouper }}</strong></td>
        </tr>
        {% for item in sip.list %}
          <tr class="job {% cycle 'odd' 'even' %}" uuid="{{ item.jobuuid }}">
            <td>
              <p><strong>UUID:</strong> {{ item.jobuuid }}</p>
              <p class="job_type"><strong>Job type:</strong>&nbsp;<span class="value">{{ item.jobtype|map_known_values }}</span></p>
              <p class="approval_description"><strong>Description for approval:</strong>&nbsp;<span class="value" /></p>
              <p><a class="btn_show_tasks" href="#">Show tasks</a></p>
              <div class="data"></div>
            </td>
            <td width="360px">
              {{ item.currentstep }}
              <p class="actions">
                <a class="hidden btn_open_dir" target="_blank" title="{{ item.diretory }}" href="file://{{ item.directory }}">Open directory</a>
                <a class="hidden btn_approve_job" href="#">Approve</a>
              </p>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
