{% extends "layout.html" %}

{% block title %}Jobs{% endblock %}
{% block h1 %}Jobs{% endblock %}

{% block content %}

  <div class="pagination">
    <span class="step-links">
      {% if objects.has_previous %}
        (<a href="{% url dashboard.views.jobs 1 %}">first</a>)
        (<a href="{% url dashboard.views.jobs objects.previous_page_number %}">previous</a>)
      {% endif %}

      <span class="current">Page {{ objects.number }} of {{ objects.paginator.num_pages }}</span>

      {% if objects.has_next %}
        (<a href="{% url dashboard.views.jobs objects.next_page_number %}">next</a>)
        (<a href="{% url dashboard.views.jobs objects.paginator.num_pages %}">last</a>)
      {% endif %}
    </span>
  </div>

  <table border="1">
    <thead>
      <tr>
        <th>Job UUID</th>
        <th>Job type</th>
        <th>Created time</th>
        <th>Directory</th>
        <th>SIP UUID</th>
        <th>Current step</th>
      </tr>
    </thead>
    <tbody>
      {% for item in objects.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ item.jobuuid }}</td>
          <td>{{ item.jobtype }}</td>
          <td>{{ item.createdtime }}</td>
          <td>{{ item.directory }}</td>
          <td>{{ item.sipuuid }}</td>
          <td>{{ item.currentstep }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if objects.has_previous %}
        (<a href="{% url dashboard.views.jobs 1 %}">first</a>)
        (<a href="{% url dashboard.views.jobs objects.previous_page_number %}">previous</a>)
      {% endif %}

      <span class="current">Page {{ objects.number }} of {{ objects.paginator.num_pages }}</span>

      {% if objects.has_next %}
        (<a href="{% url dashboard.views.jobs objects.next_page_number %}">next</a>)
        (<a href="{% url dashboard.views.jobs objects.paginator.num_pages %}">last</a>)
      {% endif %}
    </span>
  </div>

{% endblock %}
