{% extends "layout.html" %}

{% block title %}Jobs+{% endblock %}
{% block h1 %}Jobs+{% endblock %}
{% block page_id %}jobsplus{% endblock %}

{% block js %}
  <script type="text/javascript">

    var client = {
      steps: 5,
      getJobsAwaitingApproval: function()
        {
          if (client.step < client.steps - 1)
          {
            client.step++;

            return;
          }
          // First time this function is called
          else
          {
            client.step = 0;
          }

          window.clearInterval(client.intervalID);

          $.ajax({
            cache: false,
            complete: function()
              {
                client.intervalID = window.setInterval(client.getJobsAwaitingApproval, 1000);
              },
            dataType: 'xml',
            error: function(xhr, text)
              {
                $('#result').html(text);
              },
            type: 'GET',
            success: function(data)
              {
                $jobs = $(data).find('Job');

                $jobs.each(function (index)
                  {
                    var $this = $(this);
                    var uuid = $this.children('UUID').text();
                    var $tr = $('tr[uuid=' + uuid + ']');

                    $tr
                      .css('background-color', '#ffdda7')
                      .insertBefore('table tr:eq(1)')
                      .find('p.approval_description').show().children('span').html($this.children('descriptionForApproval').text());
                  
                    $tr.find('p.actions span.hidden').removeClass('hidden').next().show().click(function (event)
                      {
                        event.preventDefault();

                        $.ajax({
                          data: { uuid: uuid },
                          type: 'POST',
                          success: function(data)
                            {
                              if (0 < data.length)
                              {
                                this.replaceWith('<span>Approved!</span>');
                              }
                            },
                          url: '/mcp/approve-job/'
                        });
                      });
                  });
              },
            url: '/mcp/jobs-awaiting-approval/'
          });
        }
    };

    $(document).ready(function()
      {
        client.getJobsAwaitingApproval();

        $('a.btn_show_tasks').live('click', function (event)
          {
            event.preventDefault();
            
            var $this = $(this);
            
            if ($this.text() == 'Show tasks')
            {
              $this.text('Hide tasks');

              $.ajax({
                data: { uuid: uuid },
                type: 'GET',
                success: function(data)
                  {
                    if (0 < data.length)
                    {
                      this.replaceWith('<span>Approved!</span>');
                    }
                  },
                url: '/tasks/'
              });
            }
            else
            {
              $this.text('Show tasks');
            }
          });
      });

  </script>
  <style type="text/css">
    .odd { background-color: #f2f2f2; }
     p { margin: 0px; }
     p.approval_description, a.btn_approve_job, .hidden { display: none; }
  </style>
{% endblock %}

{% block content %}

  <table border="1" width="640px" style="margin: 20px auto 0 auto;">
    <thead>
      <tr>
        <th>Job</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in objects %}
        <tr class="{% cycle 'odd' 'even' %}" uuid="{{ item.jobuuid }}">
          <td>
            <p><strong>UUID:</strong> {{ item.jobuuid }}</p>
            <p class="approval_description"><strong>Description for approval:</strong>&nbsp;<span class="value" /></p>
            <p class="actions">
              <a class="btn_open_dir" target="_blank" title="{{ item.diretory }}" href="file://{{ item.directory }}">Open directory</a>
              <span>&nbsp;|&nbsp;</span>
              <a class="btn_show_tasks" href="#">Show tasks</a>
              <span class="hidden">&nbsp;|&nbsp;</span>
              <a class="btn_approve_job" href="#">Approve</a>
            </p>
          </td>
          <td>{{ item.currentstep }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
