<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Archivematica Dashboard - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/media/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/media/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/media/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/media/vendor/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="/media/vendor/jquery.js" type="text/javascript"></script>
    <script src="/media/vendor/jquery-ui/jquery-ui.js" type="text/javascript"></script>
    <script src="/media/vendor/jquery.idle-timer.js" type="text/javascript"></script>
    <script src="/media/vendor/underscore.js" type="text/javascript"></script>
    <script src="/media/vendor/backbone.js" type="text/javascript"></script>
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
  </head>
  <body id="page-{% block page_id %}default{% endblock %}">
    <div id="main-container">
      <div id="header">
        <h1>Archivematica Dashboard - {% block h1 %}{% endblock %}</h1>
      </div>
      <div id="menu">
        <ul>
          <li id="ingest"><a href="{% url ingest %}">Ingest</a></li>
          <li id="archival-storage"><a href="{% url main.views.archival_storage %}">Archival storage</a></li>
          <li id="access" style="display: none;"><a href="#" onclick="return false;">Access</a></li>
          <li id="preservation-planning"><a href="{% url main.views.preservation_planning %}">Preservation planning</a></li>
        </ul>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
