<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Archivematica Dashboard - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/media/reset.css" rel="stylesheet" type="text/css" />
    <link href="/media/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/media/base.css" rel="stylesheet" type="text/css" />
    <link href="/media/style.css" rel="stylesheet" type="text/css" />
    <script src="/media/jquery.js" type="text/javascript"></script>
    {% block js %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <h1>Archivematica Dashboard - {% block h1 %}{% endblock %}</h1>
    </div>
    <div id="menu">
      <ul>
        <li><a href="/client/">XML-RPC Client</a></li>
        <li><a href="/jobs/">Jobs</a></li>
        <li><a href="/tasks/">Tasks</a></li>
      </ul>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
