{% extends "layout.html" %}
{% load filters %}

{% block title %}SIPs{% endblock %}
{% block h1 %}SIPs{% endblock %}
{% block page_id %}sips{% endblock %}

{% block js %}
  <script type="text/javascript">

    $(document).ready(function()
      {
        updateJobs();

        // Show tasks button
        $('a.btn_show_tasks').live('click', function (event)
          {
            event.preventDefault();

            var $this = $(this);

            if ($this.text() == 'Show tasks' || $this.text() == 'No results, try again?')
            {
              $this.text('Loading');

              $.ajax({
                dateType: 'html',
                type: 'GET',
                success: function(data)
                  {
                    var $taskrows = $(data).find('tbody');
                    var $data = $this.closest('tr').find('div.data');

                    if (0 < $taskrows.children().length)
                    {
                      var $box = $('<table class="tasks" />').append($taskrows);
                      $data.html($box.hide());

                      $box.slideDown('fast', function()
                        {
                          $this.text('Hide tasks');
                        });
                    }
                    else
                    {
                      $this.html('No results, try again?');
                    }
                  },
                url: '/tasks/' + $this.closest('tr').attr('uuid') + '/'
              });
            }
            else
            {
              $this.text('Show tasks').closest('tr').find('table.tasks').slideUp('fast', function() { $(this).remove(); });
            }
          });

          $('tr.job')

            // Hide jobs
            .hide()

            // Add sip-error class to SIP rows if jobs have errors
            .filter('.unsuccessfully').each(function()
              {
                $(this).prevAll('.sip:first').addClass('sip-error');
              });


          $('tr.sip')
            .css('cursor', 'pointer')

            // Handlers
            .click(function(event)
              {
                if ($(event.target).hasClass('btn_remove_sip'))
                {
                  alert('Disabled temporary, see issue 295.'); return false;

                  event.preventDefault();

                  var $this = $(this);
                  var href = $(event.target).attr('href');

                  if ($this.hasClass('sip-has-jobs-awaiting-approval'))
                  {
                    alert('This job is awaiting approval.')
                  }
                  else
                  {
                    $.ajax({
                      type: 'GET',
                      success: function(data)
                        {

                        },
                      url: href
                    }); 
                  }
                }
                else
                {
                  $(this)
                    .toggleClass('sip-enabled')
                    .nextUntil('tr.sip').toggle()
                    .end().scroll();
                }
              })
            .mouseover(function ()
              {
                $(this).addClass('sip-hover');
              })
            .mouseout(function ()
              {
                $(this).removeClass('sip-hover');
              })

            // Hover
            .nextUntil('tr.sip').hover(function()
              {
                $(this).prevAll('tr.sip:first').toggleClass('sip-hover');
              });
      });

    function updateJobs()
    {
      $.ajax({
        cache: false,
        complete: function()
          {

          },
        dataType: 'xml',
        error: function(xhr, text)
          {
            alert("error");
          },
        type: 'GET',
        success: function(data)
          {
            $jobs = $(data).find('Job');

            $jobs.each(function (index)
              {
                var $this = $(this);
                var uuid = $this.children('UUID').text();
                var $trjob = $('tr.job[uuid=' + uuid + ']');

                // Find SIP and move to 
                var $trsip = $trjob.prevAll('tr.sip:first').addClass('sip-has-jobs-awaiting-approval');
                var $trjobs = $trsip.nextUntil('tr.sip:first');

                // Prepend rows
                $trjobs.prependTo('#table-sips tbody');
                $trsip.prependTo('#table-sips tbody');

                $trjob
                  // Add ready class
                  .addClass('ready')
                  // Move to top
                  .insertAfter($trsip)
                  // Set description for approval
                  .find('p.approval_description').show().children('span').html($this.children('descriptionForApproval').text())

                $trjob

                  // Show actions
                  .find('p.actions a').removeClass('hidden').show()

                  // Action
                  .parent().find('a.btn_approve_job').click(function (event)
                  {
                    event.preventDefault();

                    $.ajax({
                      context: $(this).closest('td'),
                      data: { uuid: uuid },
                      type: 'POST',
                      success: function(data)
                        {
                          if (0 < data.length)
                          {
                            this
                             .html('<strong>Executing command(s)</strong>')
                             .parent().removeClass('ready');

                            if (!$trjobs.find('tr.job.ready').length)
                            {
                              $trsip.removeClass('sip-has-jobs-awaiting-approval');
                            }
                          }
                        },
                      url: '/mcp/approve-job/'
                    });
                  });

              });
          },
        url: '/mcp/jobs-awaiting-approval/'
      });
    }

  </script>
  <style type="text/css">

   .odd { background-color: #f2f2f2; }
    p { margin: 0px; }
    p.approval_description, .hidden { display: none; }
    p.actions a { margin-left: 4px; }
    .ready { background-color: #ffdda7; }

    tr.sip td { background-color: #ffdda7; padding: 12px 8px; }
    tr.sip-hover td,
    tr.sip-enabled td { background-color: #4388a7; }

    /* SIP tag */
    tr.sip td span { padding: 2px 10px 2px 10px; margin-left: -20px; border: 1px solid #666; margin-right: 8px; background: White url(/media/images/accept.png) no-repeat center center; }
    tr.sip-has-jobs-awaiting-approval td span { background-image: url(/media/images/bell.png); }
    tr.sip-error td span { background-image: url(/media/images/cancel.png); }

    tr.sip-has-jobs-awaiting-approval td { background-color: #fcfca6; }
    tr.sip-error td { background-color: #fcbca6; }
    
    tr.exiterror td { background-color: #f2beab; }

    td.stderror { background-color: #aaa; }
    td.stderror p { color: Red; }

    td.col-job-status { vertical-align: top; }
    tr.unsuccessfully td { background-color: #ffaaaa; }

    table.tasks { margin-top: 10px; }
    table.tasks td { background-color: White; }
    table.tasks tr.exiterror td { background-color: #ffdda7; }
    table.tasks td.stderror { background-color: #eee; }
    table.tasks span { font-weight: bold; width: 80px; display: block; float: left; text-align: right; margin-right: 10px; }

    pre { overflow-x: auto; max-width: 800px; }

  </style>
{% endblock %}

{% block content %}
  <table id="table-sips" border="1" width="100%" style="margin: 20px auto 0 auto;">
    <thead>
      <th>SIP</th>
      <th>UUID</th>
      <th>Timestamp</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for sip in objects %}
        <tr class="sip {% cycle 'odd' 'even' %}" uuid="{{ sip.grouper }}">
          <td>
            <span>&nbsp;</span>
            <strong>{{ sip.sipuuid|get_directory_by_sipuuid }}</strong>
          </td>
          <td>{{ sip.sipuuid }}</td>
          <td>{{ sip.latest }}</td>
          <td><a class="btn_remove_sip" href="{% url main.views.remove_sip sip.sipuuid %}">Remove</a>
        </tr>
        {% for item in sip.sipuuid|get_jobs_by_sipuuid %}
          <tr class="job {% cycle 'odd' 'even' %}{% ifequal item.currentstep "completedUnsuccessfully" %} unsuccessfully{% endifequal %}" uuid="{{ item.jobuuid }}">
            <td colspan="2">
              <p class="job_type"><strong>Micro-Service:</strong>&nbsp;<span class="value">{{ item.jobtype|map_known_values }}</span></p>
              <p class="approval_description"><strong>Description for approval:</strong>&nbsp;<span class="value" /></p>
              <p><a class="btn_show_tasks" href="#">Show tasks</a></p>
              <div class="data"></div>
            </td>
            <td class="col-job-status" colspan="2">
              {{ item.currentstep|map_known_values }}
              <p class="actions">
                <a class="hidden btn_open_dir" target="_blank" href="{% url main.views.show_dir item.jobuuid %}">Browse directory</a>
                <a class="hidden btn_approve_job" href="#">Approve</a>
              </p>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
