# This file is part of Archivematica.
#
# Archivematica is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# Archivematica is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Archivematica.  If not, see <http://www.gnu.org/licenses/>.

# @package Archivematica
# @subpackage Configuration
# @author Austin Trask <austin@artefactual.com>
# @version svn: $Id$


[DEFAULT]
arch = i386
user = demo
name = demo
pass = demo
tmpfs = - 
part = vmbuilder.partition

# Build script to execute
execscript = /home/demo/trunk/archivematica.sh

[ubuntu]

# Apt-cacherng mirror, builds are much faster if you have packages cached locally
mirror = http://127.0.0.1:9999/ubuntu
suite = jaunty 
flavour = generic

# Packages to be installed automaticlly
addpkg = uuid, httrack, sendemail, curl, clamav, incron, nfs-common, flac, md5deep, ffmpeg, firebug, imagemagick, libapache2-mod-php5, mysql-server, php5-cli, php5-mysql, php5-xsl, subversion-tools, ubuntu-desktop
