body {
  
}

#main-container {

}

#content {
  margin: 0 20px;
}

a, a * { cursor: pointer; outline: none; }
a:link, a:visited, a:focus, a:active { text-decoration: none; color: Blue; }
a:hover { text-decoration: underline; }

/* Header */

#header {
  background: #fff url(../images/logo.png) no-repeat 20px 50%;
  height: 34px;
  margin-top: 20px;
  padding: 10px;
}

#header h1 {
  text-indent: -12345px;
  margin: 0;
}

/* Menu */

#menu {
  background-color: #bbb;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(168,168,168)), color-stop(1, rgb(214,214,214)));
  background-image: -moz-linear-gradient(center bottom, rgb(168,168,168) 19%, rgb(214,214,214) 100%);
  margin: 0 20px 10px 20px;
}

#menu ul {
  font-weight: bold;
  text-shadow: #000000 1px 1px 1px;
  color: #fff;
  margin: 0;
  padding: 5px 0px;
}

#menu ul li {
  display: inline;
  margin-left: -4px;
}

#menu ul li a {
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #42769e;
  
  border-right: 1px solid #fff;
}

#menu ul li a:hover {
  background-color: #4388a7;
  
  color: #fff;
}

#page-sips #menu .sips a { background-color: #a40000; }

/* Status widget */

#status {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100;
  text-align: center;
}

.status-error > div > div {
  background-color: #a40000 !important;
  color: White;
}

#status > div {
  position: relative;
  display: inline-block;
}

#status > div > div {
  background-color: #9fbfd6;
  padding: 3px 6px 5px 6px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#status > div > div > span {
  font-weight: bold;
}

/* SIPs */

#sip-container {
  margin-top: 10px;
}

#sip-header {
  font-weight: bold;
  padding: 3px 2px;
  height: 19px;
  margin-bottom: 7px;
  background: url(/media/images/dots.gif) repeat-x bottom;
}

#sip-header > div { float: left; padding: 3px 2px 3px 2px; }
#sip-header-icon { width: 25px; }
#sip-header-directory { width: 300px; }
#sip-header-uuid { width: 330px; }
#sip-header-timestamp { width: 120px; }
#sip-header-jobs { }

.sip {
  clear: both;
  float: left;
  border: 1px solid White;
}

.sip:hover, .sip-selected {
  border: 1px solid #bbb;
  background-color: #eee;
}

.sip-highlight > .sip-detail-directory {
  color: Red;
}

.sip-row > div { float: left; padding: 3px 0; }
.sip-detail-icon { width: 26px; text-align: center; }
.sip-detail-directory { width: 300px; display: table-cell; white-space: nowrap; }
.sip-detail-uuid { width: 330px; font-family: "Courier New", Courier, "Lucida Console", monospace; }
.sip-detail-timestamp { width: 120px; }
.sip-detail-jobs { padding-right: 4px; }

.sip-detail-icon > img {
  margin: 0px; padding: 0px;
}

.sip-detail-jobs a {
  visibility: hidden;
  font-weight: bold;
  padding-right: 4px;
}

.sip:hover .sip-detail-jobs a,
.sip-selected .sip-detail-jobs a {
  visibility: visible;
}

.sip-detail-job-container {
  clear: both;
  display: none;
}

.job-header-microservice { width: 660px; }
.job-header-currentstep { width: 170px; }

.job {
  border-top: 1px solid #999;
  background-color: White;
  clear: both;
  float: left;
}

.job > div {
  float: left;
  padding: 2px 5px;
}

.job-detail-microservice { width: 660px; border-right: 1px dotted #bbb; }
.job-detail-currentstep { width: 170px; }

.job-detail-currentstep > div {
  margin: 4px 0;
}

.job-detail-currentstep > div > a {
  margin-right: 4px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 2px 4px;
  background-color: #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.job-detail-currentstep > div > a:hover {
  background-color: #777;
  text-decoration: none;
}