body {
  margin: 20px;
}

a:link, a:visited, a:focus, a:active { text-decoration: none; color: Blue; }
a:hover { text-decoration: underline; }

div.pagination {
  text-align: left;
  background-color: #eee;
  margin: 10px 0;
  padding: 10px;
}

table th {
  background-color: #eee;
}

div#header {
  background: #fff url(../images/logo.png) no-repeat bottom left;
  height: 34px;
  margin: 0 0 10px 0;
}

div#header h1 {
  text-indent: -12345px;
}

div#menu {
  background-color: #bbb;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(168,168,168)), color-stop(1, rgb(214,214,214)));
  background-image: -moz-linear-gradient(center bottom, rgb(168,168,168) 19%, rgb(214,214,214) 100%);
}

div#menu ul {
  font-weight: bold;
  text-shadow: #000000 1px 1px 1px;
  color: #fff;
  margin: 0;
  padding: 5px 0px;
}

div#menu ul li {
  display: inline;
  margin-left: -4px;
}

div#menu ul li a {
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #42769e;
  
  border-right: 1px solid #fff;
}

div#menu ul li a:hover {
  background-color: #4388a7;
  
  color: #fff;
}

#page-sips #menu .sips a { background-color: #a40000; }
/*
#page-client #menu .client a { background-color: #a40000; }
#page-jobs #menu .jobs a { background-color: #a40000; }
#page-tasks #menu .tasks a { background-color: #a40000; }
*/

th.fk { background-color: #ffdda7; }
td.fk { background-color: #fff7e2; }

div.job { background-color: #eee; margin: 10px 0 0 0; padding: 4px 8px; }
div.job p { margin-bottom: 4px; }
div.job div.actions { }

div#loading { margin: 10px auto 0 auto; height: 30px; line-height: 30px; width: 200px; text-align: center; background-color: #fff7e2; border: 1px solid #aaa; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; box-shadow: 1px 1px 1px #888; -webkit-box-shadow: 1px 1px 1px #888; -moz-box-shadow: 1px 1px 1px #888; }
