#transfer_component_form {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 5px;
}

#transfer-type {
  width: 100px;
}

#transfer-accession-number {
  width: 75px;
  margin-right: 10px;
}

#path_container {
  margin-top: 5px;
}
