{% extends "layout_fluid.html" %}

{% block title %}Access{% endblock %}
{% block h1 %}Access{% endblock %}
{% block page_id %}access{% endblock %}

{% block js %}
  <script type="text/javascript" src="/media/js/access.js"></script>
  <script type="text/javascript">

    $(document).ready(function()
      {
      });

  </script>
{% endblock %}

{% block sidebar %}
  <h5>Access</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet ipsum ac erat pretium pharetra sed pellentesque tellus. Phasellus ac nulla sit amet lacus semper sodales ut et magna. Suspendisse sem sapien, malesuada sed viverra eget, porta at nisl.</p>
{% endblock %}

{% block content %}

{% endblock %}
