{% extends "layout_fluid.html" %}

{% block title %}Archival storage{% endblock %}
{% block h1 %}Archival storage{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block css %}
  <style type="text/css">

    td, th {
      border: 1px solid #eee;
      text-align: left;
    }

    th > a.selected {
      color: Black;
    }

    thead > tr > th {
      background-color: #ddd;
    }

    td.link-sip > a {
      background: transparent url({{ STATIC_URL }}images/package_go.png) no-repeat 0% 50%;
      padding-left: 22px;
      height: 16px;
      display: block;
    }

    td.uuid {
      font-family: "Courier New", Courier, "Lucida Console", monospace;
    }

    th > div {
      position: relative;
    }

    th > div > a {
      display: block;
      text-indent: -10000px;
      position: absolute;
      width: 16px;
      height: 16px;
    }

    th > div > a.up {
      background: transparent url({{ STATIC_URL }}images/bullet_arrow_up.png) no-repeat 0% 0%;
      top: -8px;
      right: -4px;
    }

    th > div > a.down {
      background: transparent url({{ STATIC_URL }}images/bullet_arrow_down.png) no-repeat 0% 0%;
      top: 6px;
      right: -4px;
    }

    th > div > a.selected_up {
      background-image: url({{ STATIC_URL }}images/bullet_orange.png);
    }

    th > div > a.selected_down {
      background-image: url({{ STATIC_URL }}images/bullet_orange.png);
    }

    tbody > tr:last-child > td {
      border-bottom: 2px solid #ddd;
    }

    tfoot > tr > td {
      border: 0px;
    }

    td.size {
      text-align: right;
    }

  </style>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function()
      {

      });
  </script>
{% endblock %}

{% block sidebar %}
  <h5>Archival storage</h5>
  <div class="preview-help-text">
    <p class="preview">Archivematica's archival storage tab is used to browse and retrieve Archival Information Packages (AIPs)... <a href="#">(read more)</a></p>
    <p class="content">Archivematica's archival storage tab is used to browse and retrieve Archival Information Packages (AIPs), which can be sorted by AIP name, size, UUID or date stored. The size column shows the compressed size of each AIP and total size at the bottom of the column. Click on an AIP link to download the zipped AIP. </p>
  </div>
{% endblock %}

{% block content %}
  {% if sips %}
    <table>
      <thead>
        <th>
          <div>
            AIP
            <a class="up {% if order_by == 'name' and sort_by == 'up' %} selected_up{% endif %}" href="?order_by=name&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'name' and sort_by == 'down' %} selected_down{% endif %}" href="?order_by=name&sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            Size
            <a class="up {% if order_by == 'size' and sort_by == 'up' %} selected_up"{% endif %}" href="?order_by=size&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'size' and sort_by == 'down' %} selected_down"{% endif %}" href="?order_by=size&sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            UUID
            <a class="up {% if order_by == 'uuid' and sort_by == 'up' %} selected_up"{% endif %}" href="?order_by=uuid&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'uuid' and sort_by == 'down' %} selected_down"{% endif %}" href="?order_by=uuid&sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            Date
            <a class="up {% if order_by == 'date' and sort_by == 'up' %} selected_up{% endif %}" href="?order_by=date&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'date' and sort_by == 'down' %} selected_down"{% endif %}" href="?order_by=date&sort_by=down">Sort</a>
          </div>
        </th>
      </thead>
      <tbody>
        {% for item in sips %}
          <tr>
            <td class="link-sip"><a href="{% url main.views.archival_storage item.href %}">{{ item.name }}</a></td>
            <td class="size">{{ item.size }}</td>
            <td class="uuid">{{ item.uuid }}</td>
            <td>{{ item.date }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td colspan="3">
            <span>{{ total_size }}</span> MB
          </td>
        </tr>
      </tfoot>
    </table>

  {% else %}

    <div class="alert-message">
      <p>Archival storage is empty.</p>
    </div>

  {% endif %}

{% endblock %}
