{% extends "layout.html" %}

{% block title %}Archival storage{% endblock %}
{% block h1 %}Archival storage{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block css %}
  <style type="text/css">

    td, th {
      border: 1px solid #eee;
      text-align: left;
    }

    th > a.selected {
      color: Black;
    }

    thead > tr > th {
      background-color: #ddd;
    }

    td.link-sip > a {
      background: transparent url(/media/images/icons/package_go.png) no-repeat 0% 50%;
      padding-left: 22px;
      height: 16px;
      display: block;
    }

    td.uuid {
      font-family: "Courier New", Courier, "Lucida Console", monospace;
    }

  </style>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function()
      {

      });
  </script>
{% endblock %}

{% block content %}
  {% if sips %}
    <table>
      <thead>
        <th>
          {% if order_by == 'name' %}
            Submission Information Package
          {% else %}
            <a href="?order_by=name">Submission Information Package</a></th>
          {% endif %}
        </th>
        <th>
          {% if order_by == 'size' %}
            Size
          {% else %}
            <a href="?order_by=size">Size</a></th>
          {% endif %}
        </th>
        <th>
          {% if order_by == 'uuid' %}
            UUID
          {% else %}
            <a href="?order_by=uuid">UUID</a></th>
          {% endif %}
        </th>
        <th>
          {% if order_by == 'date' %}
            Date
          {% else %}
            <a href="?order_by=date">Date</a></th>
          {% endif %}
        </th>
      </thead>
      <tbody>
        {% for item in sips %}
          <tr>
            <td class="link-sip"><a href="{% url main.views.archival_storage item.href %}">{{ item.name }}</a></td>
            <td>{{ item.size }} MB</td>
            <td class="uuid">{{ item.uuid }}</td>
            <td>{{ item.date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Archival storage is empty.</p>
  {% endif %}
{% endblock %}
