{% extends "layout.html" %}

{% block title %}Preservation planning{% endblock %}
{% block h1 %}Preservation planning{% endblock %}
{% block page_id %}preservation-planning{% endblock %}

{% block content %}
  <p>Preservation planning report.</p>
  <table>
    <thead>
      <tr>
        <th>File type</th>
      </tr>
    </thead>
    <tbody>
      {% for item in file_types  %}
        <tr>
          <td>
            <p>{{ item.type }}</p>
            <ul>
              {% for extension in item.extensions %}
                <li>{{ extension }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
