{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block sidebar %}
  {% include sidebar_template %}
{% endblock %}

{% block js %}
  <script src="{{ STATIC_URL }}vendor/jquery.inputmask.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/repeating-ajax-data.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/rights_edit.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">

      <ul class="breadcrumb">
        {% if section == 'ingest' %}
          {% breadcrumb_url 'Ingest' main.views.ingest_grid %}
          {% breadcrumb_url name main.views.ingest_detail uuid %}
          {% breadcrumb_url 'Rights' main.views.ingest_rights_list uuid %}
        {% else %}
          {% breadcrumb_url 'Transfer' main.views.transfer_grid %}
          {% breadcrumb_url name main.views.transfer_detail uuid %}
          {% breadcrumb_url 'Rights' main.views.transfer_rights_list uuid %}
        {% endif %}
        {% if id %}
          {% breadcrumb 'Edit' %}
        {% else %}
          {% breadcrumb 'Add' %}
        {% endif %}
      </ul>

      <h1>Rights<br /><small>{{ name }}</small></h1>

      {% if request.method == 'POST' %}
        {% if form.is_valid %}
          <div class="alert-message success">
            <p><strong>Saved!</p>
          </div>
        {% else %}
          <div class="alert-message error">
            <p>An error has occurred.</p>
          </div>
        {% endif %}
      {% endif %}

      {% if section == 'ingest' %}
        {% if id %}
          <form class="form-stacked" method="post" action="{% url main.views.ingest_rights_edit uuid id %}">
        {% else %}
          <form class="form-stacked" method="post" action="{% url main.views.ingest_rights_edit uuid %}">
        {% endif %}
      {% else %}
        {% if id %}
          <form class="form-stacked" method="post" action="{% url main.views.transfer_rights_edit uuid id %}">
        {% else %}
          <form class="form-stacked" method="post" action="{% url main.views.transfer_rights_edit uuid %}">
        {% endif %}
      {% endif %}

        {{ grantFormset.management_form }}
        {{ grantFormset.non_form_errors.as_ul }}

        {% for form in grantFormset %}
          {% include "_form.html" %}

          <div id='rightsfields_{{ form.instance.pk }}'></div>

          <script>
          $(document).ready(function() {
            setUpRepeatingRightsGrantedNotesRecords('{{ form.instance.pk }}');
          });
          </script>
        {% endfor %}

        {% include "_form.html" %}

        <div id='copyright_formset'>
          {% include "_formset.html" with formset=copyrightFormset %}
          {% include "_formset.html" with formset=copyrightIdentifierFormset %}
          {% include "_formset_table.html" with formset=copyrightNoteFormset %}
        </div>

        <div id='statute_formset'>
          {{ statuteFormset.management_form }}
          {{ statuteFormset.non_form_errors.as_ul }}

        {% for form in statuteFormset %}
          {% include "_form.html" %}

          <div id='statutedocidfields_{{ form.instance.pk }}'></div>

          <script>
          $(document).ready(function() {
            setUpRepeatingStatuteDocumentationIdentifierRecords('{{ form.instance.pk }}');
          });
          </script>
        {% endfor %}


          {% include "_formset_table.html" with formset=statuteNoteFormset %}
        </div>

        <div id='license_formset'>
          {{ licenseFormset.management_form }}
          {{ licenseFormset.non_form_errors.as_ul }}

          {% for form in licenseFormset %}
            {% include "_form.html" %}

            <div id='licensedocidfields_{{ form.instance.pk }}'></div>

            <script>
            $(document).ready(function() {
              setUpRepeatingLicenseDocumentationIdentifierRecords('{{ form.instance.pk }}');
            });
            </script>
          {% endfor %}

          {% include "_formset_table.html" with formset=licenseNoteFormset %}
        </div>

        <div id='other_formset'>
          {{ otherFormset.management_form }}
          {{ otherFormset.non_form_errors.as_ul }}

          {% for form in otherFormset %}
            {% include "_form.html" %}

            <div id='otherrightsdocidfields_{{ form.instance.pk }}'></div>

            <script>
            $(document).ready(function() {
              setUpRepeatingOtherRightsDocumentationIdentifierRecords('{{ form.instance.pk }}');
            });
            </script>
          {% endfor %}
        </div>

        <div class="actions">
          {% if id %}
            <button type="submit" class="btn primary">Save</button>
          {% else %}
            <button type="submit" class="btn primary">Create</button>
          {% endif %}

          {% if section == 'ingest' %}
            <a href="{% url main.views.ingest_rights_list uuid %}" class="btn">Cancel</a>
          {% else %}
             <a href="{% url main.views.transfer_rights_list uuid %}" class="btn">Cancel</a>
          {% endif %}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
