{% extends "layout.html" %}
{% load filters %}

{% block title %}SIPs{% endblock %}
{% block h1 %}SIPs{% endblock %}
{% block page_id %}sips{% endblock %}

{% block js %}
  <script type="text/javascript" src="/media/js/sips.js"></script>
  <script type="text/javascript">

    $(document).ready(function()
      {
        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView;
      });

    window.microservices_help = {
      {% for x, y in microservices_help.iteritems %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

  </script>
{% endblock %}

{% block content %}

  <div id="sip-container">
    <div id="sip-header">
      <div id="sip-header-directory">Submission Information Package</div>
      <div id="sip-header-uuid">UUID</div>
      <div id="sip-header-timestamp">Ingest start time</div>
      <div id="sip-header-actions">&nbsp;</div>
    </div>
    <div id="sip-body">
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="sip-template">
    <div class="sip-row">
      <div class="sip-detail-icon-status"><a href="#"><%= this.model.jobs.getIcon() %></a></div>
      <div class="sip-detail-directory"><%= directory %></div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= this.getIngestStartTime() %></div>
      <div class="sip-detail-actions">
        <a class="btn_show_jobs" href="#">Micro-Services</a>
        <a class="btn_remove_sip" href="#">Remove</a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      Micro-Service: <span><%= microservice %></span>
      <% tmp = window.microservices_help[microservice]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#" title="<%= tmp %>">?</a>]
      <% } %>
    </div>
    <div class="job-detail-currentstep"><span title="<%= new Date(timestamp * 1000).getArchivematicaDateTime() %>  /  <%= timestamp %>"><%= currentstep %></span></div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#">Tasks</a>
    </div>
  </script>

  <script type="text/template" id="directory-browser-template">
    <div id="directory-browser-tab">Directory browser (<a href="#">Close</a>)</div>
    <div id="directory-browser-content"></div>
  </script>

  <script type="text/template" id="status-template">
    <div>
      <div>
        <span>&nbsp;</span>
      </div>
    </div>
  </script>

{% endblock %}
