{% extends "layout.html" %}
{% load filters %}

{% block title %}SIPs{% endblock %}
{% block h1 %}SIPs{% endblock %}
{% block page_id %}sips{% endblock %}

{% block js %}
  <script type="text/javascript" src="/media/js/sips.js"></script>
  <script type="text/javascript">
    $(document).ready(function()
      {
        sipmgr = new Dashboard.SipManager({{ interval }});
        sipmgr.start();
      });
  </script>
{% endblock %}

{% block css %}
  <style type="text/css">

    #sips-container {
      margin-top: 10px;
      width: 660px;
    }

    #sips-header {
      font-weight: bold;
      padding: 3px 2px;
      height: 19px;
      margin-bottom: 7px;
      background: url(/media/images/dots.gif) repeat-x bottom;
    }

    #sips-header-icon { float: left; width: 20px; }
    #sips-header-directory { float: left; width: 100px; }
    #sips-header-uuid { float: left; width: 330px; }
    #sips-header-timestamp { float: left; width: 120px; }

    .sip {
      border: 1px solid transparent;
      padding: 3px 2px;
      clear: both;
    }

    .sip-detail-icon { float: left; width: 20px; }
    .sip-detail-directory { float: left; width: 100px; }
    .sip-detail-uuid { float: left; width: 330px; font-family: "Courier New", Courier, "Lucida Console", monospace; }
    .sip-detail-timestamp { float: left; width: 120px; }
  </style>
{% endblock %}

{% block content %}
{% endblock %}
