{% extends "layout.html" %}
{% load filters %}

{% block title %}SIPs{% endblock %}
{% block h1 %}SIPs{% endblock %}
{% block page_id %}sips{% endblock %}

{% block js %}
  <script type="text/javascript" src="/media/js/sips.js"></script>
  <script type="text/javascript">

    $(document).ready(function()
      {
        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView;
      });

    window.microservices_help = {
      {% for x, y in microservices_help.iteritems %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

  </script>
{% endblock %}

{% block content %}

  <div id="sip-container">
    <div id="sip-header">
      <div id="sip-header-directory">Directory to Submission Information Package</div>
      <div id="sip-header-uuid">UUID</div>
      <div id="sip-header-timestamp">Timestamp</div>
      <div id="sip-header-jobs">&nbsp;</div>
    </div>
    <div id="sip-body">
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="sip-template">
    <div class="sip-row">
      <div class="sip-detail-icon"><img src="<%= this.model.jobs.getIcon() %>" /></div>
      <div class="sip-detail-directory"><%= directory %></div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= new Date(timestamp * 1000).getArchivematicaDateTime() %></div>
      <div class="sip-detail-jobs">
        <a href="#">Show micro-services</a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      Micro-Service: <span><%= microservice %></span>
      <% tmp = window.microservices_help[microservice]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#">?</a>]
        <p><%= tmp  %></p>
      <% } %>
    </div>
    <div class="job-detail-currentstep"><%= currentstep %></div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#">Tasks</div>
    </div>
  </script>

  <script type="text/template" id="status-template">
    <div>
      <div>
        <span>&nbsp;</span>
      </div>
    </div>
  </script>

{% endblock %}
