body {
  margin: 20px;
}

div.pagination {
  text-align: left;
  background-color: #eee;
  margin: 10px 0;
  padding: 10px;
}

table th {
  background-color: #eee;
}

div#header {
  background: #fff url(logo.png) no-repeat bottom left;
  height: 34px;
  margin: 0 0 10px 0;
}

div#header h1 {
  margin-left: 12345px;
}

div#menu {
  background-color: #42769e;
}

div#menu ul {
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 5px 0px;
}

div#menu ul li {
  display: inline;
  margin-left: -4px;
}

div#menu ul li a {
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

div#menu ul li a:hover {
  background-color: #4388a7;
  color: #fff;
}
