{% extends "layout_fluid.html" %}

{% block title %}Ingest{% endblock %}
{% block h1 %}Ingest{% endblock %}
{% block page_id %}ingest{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jobs.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/online.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ingest.js"></script>
  <script type="text/javascript">

    $(document).ready(function()
      {
        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView({statusUrl: '/ingest/status/'});
      });

    window.microservices_help = {
      {% for x, y in microservices_help.iteritems %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

  </script>
{% endblock %}

{% block topbar %}
  <div id="connection-status" class="pull-right"></div>
{% endblock %}

{% block sidebar %}
  <h5>Ingest</h5>
  <div class="preview-help-text">
    <p class="preview">Arrange the transfer into one or more Submission Information Packages (SIPs). <a href="#">(read more)</a></p>
    <p class="content">Arrange the transfer into one or more Submission Information Packages (SIPs). Delete, re-arrange and rename files if desired, and enter descriptive and rights metadata. Approve the SIP(s). At Normalize, select the type of normalization required. Once normalization is finished, Archivematica generates a METS/PREMIS file and bags and compresses the Archival Information Packages (AIPs). Store the AIPs and upload the DIPs if they have been created.</p>
  </div>
{% endblock %}

{% block content %}

  <div class="span12" id="sip-container">
    <div id="sip-header">
      <div id="sip-header-directory">Submission Information Package</div>
      <div id="sip-header-uuid">UUID</div>
      <div id="sip-header-timestamp">Ingest start time</div>
      <div id="sip-header-actions">&nbsp;</div>
    </div>
    <div id="sip-body">
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="sip-template">
    <div class="sip-row">
      <div class="sip-detail-icon-status"><%= this.model.jobs.getIcon() %></div>
      <div class="sip-detail-directory">
        <%= directory %>
        <abbr title="<%= uuid %>">UUID</span>
      </div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= this.getIngestStartTime() %></div>
      <div class="sip-detail-actions">
        <a class="btn_show_metadata" href="#" title="Metadata"><span>Micro-Services</span></a>
        <a class="btn_remove_sip" href="#" title="Remove"><span>Remove</span></a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="microservice-group-template">
    <div class="microservice-group" style="padding-bottom: 3px">
      &nbsp;<span class="microservice-group-arrow">&#x25B8;</span> 
      <span class="microservice-group-name"><%= name %></span> microservice
    </div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      <span>Micro-Service:&nbsp;</span><span title="<%= uuid %>"><%= type %></span>
      <% tmp = window.microservices_help[type]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#" title="<%= tmp %>">?</a>]
      <% } %>
    </div>
    <div class="job-detail-currentstep"><span title="<%= new Date(timestamp * 1000).getArchivematicaDateTime() %>  /  <%= timestamp %>"><%= currentstep %></span></div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#" title="Tasks"><span>Tasks</span></a>
    </div>
  </script>

  <script type="text/template" id="directory-browser-template">
    <div id="directory-browser-tab">Directory browser (<a href="#">Close</a>)</div>
    <div id="directory-browser-content"></div>
  </script>

  <script type="text/template" id="status-template">
    <div id="status-bullet">
      <span>Initializing...</span>
      <img src="{{ STATIC_URL }}images/bullet_delete.png" />
    </div>
  </script>

  <script type=="text/template" id="metadata-dialog">
    <form class="form-stacked">
      {% for field in form %}
        <div class="form-item clearfix">
          {{ field.errors }}
          {{ field.label_tag }}
          <div class="input">
            {% if field.name == "rights" or field.name == "description" %}
              <textarea class="span9" name="{{ field.name }}" rows="4"><%= {{ field.name }} %></textarea>
            {% else %}
              <input class="xlarge span9" type="text" name="{{ field.name }}" value="<%= {{ field.name }} %>" />
            {% endif %}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </form>
  </script>

  <div id="upload-dip-modal" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Upload DIP</h3>
    </div>
    <div class="modal-body">
      <p>Upload the generated DIP to ICA-AtoM (Qubit) using the permalink of the target description.</p>
      <form class="form-stacked">
        <div class="clearfix">
          <label>Enter the permalink of the target description</label>
          <div class="input">
            <input class="span8" type="text" />
            <span class="help-block">Example: if url is http://myICA-AtoM.ca/newsletters-2;rad enter <strong>newsletters-2</strong></span>
          </div>
        </div>
        <div class="clearfix">
          <div class="input">
            <ul class="inputs-list">
              <li>
                <label>
                  <input type="checkbox" value="intermediate">
                  <span>Create intermediate level of description</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn primary">Upload</a>
      <a href="#" class="btn secondary">Cancel</a>
    </div>
  </div>

{% endblock %}
