{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block sidebar %}
  {% include "main/ingest/_sidebar.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">

      <ul class="breadcrumb">
        {% breadcrumb_url 'Ingest' main.views.ingest_grid %}
        {% breadcrumb_url name main.views.ingest_detail uuid %}
        {% breadcrumb 'Metadata' %}
      </ul>

      <h1>Metadata<br /><small>{{ name }}</small></h1>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Applies to</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in metadata %}
            <tr>
              <td>{{ item.enddate }}</td>
              <td>Ingest</td>
              <td>
                <a href='{% url main.views.ingest_metadata_edit uuid item.id %}'>Edit</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>

    </div>
  </div>
{% endblock %}
