Source: archivematica-mcp-client
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://archivematica.org

Package: archivematica-mcp-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-twisted, uuid, clamav, unrar, p7zip-full, nfs-common, python-lxml, fits, bagit, archivematica-transcoder, archivematica-createdublincore, md5deep, easy-extract, archivematica-common
Description: MCP Client for Archivematica
  Enter long description
  
