{% extends "layout_fluid.html" %}

{% block js %}
  <script type="text/javascript">

    $(document).ready(function()
      {
      });

  </script>
{% endblock %}

{% block sidebar %}
  {% include "main/settings/_sidebar.html" %}
{% endblock %}

{% block content %}

  <h1>Settings</h1>

  <table class="span10 zebra-striped bordered-table">
    <thead>
      <tr>
        <th>id</th>
        <th>Arguments</th>
      </tr>
    </thead>
    <tbody>
      {% for item in settings %}
        <tr>
          <td style="text-align: center;"><a class="btn" href="{% url main.views.settings_edit item.pk %}">{{ item.pk }}</a></td>
          <td>{{ item.execute }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td style="font-family: courier-new, monospace, fixed; width: 20px; woqrd-break: break-all;">{{ item.arguments }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
