  <h5>Backlog</h5>
  <div class="preview-help-text">
    <p class="preview">The backlog allows you to store transfers for later arrangement... <a href="#">(read more)</a></p>
    <p class="content">The backlog allows you to store transfers for later arrangement. The file explorer on the left shows transfers in their original condition and the file explorer on the right allows you to rearrange transfer files. Click the <img src='/media/images/accept.png'/> icon to process a transfer. Click the <img src='/media/images/delete.png'/> icon to delete a file or directory.</p>
  </div>
