{% extends "layout_fluid.html" %}

{% block title %}{% endblock %}
{% block h1 %}{% endblock %}
{% block page_id %}{% endblock %}

{% block sidebar %}
  <h5>Micro-Services</h5>
  <h5>Metadata</h5>
  <h5>Rights</h5>
  <h5>Actions</h5>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">

      <ul class="breadcrumb">
        <li><a href="{% url main.views.transfer_grid %}">Transfer</a> <span class="divider">/</span></li>
        <li class="active">SIP</li>
      </ul>

      <h1>Submission Information Package<br /><small>{{ uuid }}</small></h1>

      <p>In progress... (see ingest pages)</p>

    </div>
  </div>
{% endblock %}
