{% extends "layout_fluid.html" %}

{% block title %}Transfer{% endblock %}
{% block h1 %}Transfer{% endblock %}
{% block page_id %}transfer{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/online.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/transfer.js"></script>
  <script type="text/javascript">

    $(document).ready(function()
      {
        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView;
      });

    window.microservices_help = {
      {% for x, y in microservices_help.iteritems %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

  </script>
{% endblock %}

{% block topbar %}
  <div id="connection-status" class="pull-right"></div>
{% endblock %}

{% block sidebar %}
  <h5>Transfer</h5>
  <div class="preview-help-text">
    <p class="preview">Create a structured transfer director... <a href="#">(read more)</a></p>
    <p class="content">Create a structured transfer directory containing the files to be preserved in the objects folder and any submission documentation added to the metadata/ submissionDocumentation folder. In the dashboard, approve the transfer. Archivematica verifies the transfer, unpacks any zipped files, assigns file UUIDs and checksums, runs a virus check, characterizes and extracts metadata, and generates a METS file showing the physical arrangement of the transfer. When these micro-services are done, choose among multiple options for arranging the transfer into one or more Submission Information Packages (SIPs).</p>
  </div>
{% endblock %}

{% block content %}

  <div class="span12" id="sip-container">
    <div id="sip-header">
      <div id="sip-header-directory">Transfer</div>
      <div id="sip-header-uuid">UUID</div>
      <div id="sip-header-timestamp">Transfer start time</div>
      <div id="sip-header-actions">&nbsp;</div>
    </div>
    <div id="sip-body">
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="sip-template">
    <div class="sip-row">
      <div class="sip-detail-icon-status"><%= this.model.jobs.getIcon() %></div>
      <div class="sip-detail-directory">
        <%= directory %>
        <abbr title="<%= uuid %>">UUID</span>
      </div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= this.getIngestStartTime() %></div>
      <div class="sip-detail-actions">
        <a class="btn_show_jobs" href="#" title="Micro-Services"><span>Micro-Services</span></a>
        <a class="btn_show_panel" href="#" title="Panel"><span>Panel</span></a>
        <a class="btn_remove_sip" href="#" title="Remove"><span>Remove</span></a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      <span>Micro-Service:&nbsp;</span><span title="<%= uuid %>"><%= microservice %></span>
      <% tmp = window.microservices_help[microservice]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#" title="<%= tmp %>">?</a>]
      <% } %>
    </div>
    <div class="job-detail-currentstep"><span title="<%= new Date(timestamp * 1000).getArchivematicaDateTime() %>  /  <%= timestamp %>"><%= currentstep %></span></div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#" title="Tasks"><span>Tasks</span></a>
    </div>
  </script>

  <script type="text/template" id="directory-browser-template">
    <div id="directory-browser-tab">Directory browser (<a href="#">Close</a>)</div>
    <div id="directory-browser-content"></div>
  </script>

  <script type="text/template" id="status-template">
    <div id="status-bullet">
      <span>Initializing...</span>
      <img src="{{ STATIC_URL }}images/bullet_delete.png" />
    </div>
  </script>

{% endblock %}
