{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block sidebar %}
  {% include "main/transfer/_sidebar.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">

      <ul class="breadcrumb">
        {% breadcrumb_url 'Transfer' main.views.transfer_grid %}
        {% breadcrumb_url name main.views.transfer_detail uuid %}
        {% breadcrumb 'Rights' %}
      </ul>

      <h1>Rights<br /><small>{{ name }}</small></h1>

      {% if id %}
        <form class="form-stacked" method="post" action="{% url main.views.transfer_rights_edit uuid id %}">
      {% else %}
        <form class="form-stacked" method="post" action="{% url main.views.transfer_rights_add uuid %}">
      {% endif %}

        {% comment %}
          {% include "_form.html" %}
        {% endcomment %}

        <fieldset>
          <legend>Copyright notes</legend>
          {% for item in copyright_note_formset %}
            <table>
              {{ item.as_table }}
            </table>
          {% endfor %}
        </fieldset>

        <fieldset>
          <legend>License notes</legend>
          {% for item in license_note_formset %}
            <table>
              {{ item.as_table }}
            </table>
          {% endfor %}
        </fieldset>

        <div class="actions">
          {% if id %}
            <button type="submit" class="btn primary">Edit</button>
          {% else %}
            <button type="submit" class="btn primary">Add</button>
          {% endif %}
          <a href="{% url main.views.transfer_rights_list uuid %}" class="btn">Cancel</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
