{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block sidebar %}
  {% include "main/transfer/_sidebar.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">

      <ul class="breadcrumb">
        {% breadcrumb_url 'Transfer' main.views.transfer_grid %}
        {% breadcrumb_url name main.views.transfer_detail uuid %}
        {% breadcrumb 'Rights' %}
      </ul>

      <h1>Rights<br /><small>{{ name }}</small></h1>

      <form class="form-stacked" method="post" action="{% url main.views.transfer_rights_edit uuid %}">

        {% include "_form.html" %}

        <div class="actions">
          {% if id %}
            <button type="submit" class="btn primary">Edit</button>
          {% else %}
            <button type="submit" class="btn primary">Add</button>
          {% endif %}
          <a href="{% url main.views.transfer_rights_list uuid %}" class="btn">Cancel</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
