watch {
     ~/processing {
	* {
	    handler =  /usr/local/OAIS/cleanandaccession.sh %%
	}
    }
     ~/drop {
        * {
            handler = /usr/local/OAIS/bagit/bin/bagbuilder "%f" %% 
        }
    }
     ~/qubitdrop {
        * {
            handler = /usr/local/OAIS/uploader.sh %f %% 
        }
    }

}
