watch {
     ~/quarantine {
	* {
	    handler = sleep 3s; flock -x /var/lock/viriaccession.lock snipemod.sh %%
	}
    }
     ~/autoAIP {
        * {
            handler = /usr/local/OAIS/bagit/bin/bagbuilder "%f" %% 
        }
    }
     ~/qubitdrop {
        * {
            handler = /usr/local/OAIS/uploader.sh %f %% 
        }
    }

}
