  <h5>Administration</h5>
  <div class="preview-help-text">
    <p class="preview">The administration tab, which is still under development, is designed to assist the user to edit settings, workflows... <a href="#">(read more)</a></p>
    <p class="content">The administration tab, which is still under development, is designed to assist the user to edit settings, workflows and micro-services. Currently the administration tab can be used to edit settings for uploading Dissemination Information Packages (DIPs) to the access system.</p>
  </div>
