{% extends "layout_fluid.html" %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

  <h1>Administration</h1>

  <div class="span12">

    <p><a href="{% url main.views.administration_dip %}" class="btn">Configure AtoM DIP upload</a></p>

    <p><a href="{% url main.views.administration_contentdm_dips %}" class="btn">Configure ContentDM DIP upload</a></p>

    <p><a href="{% url main.views.administration_sources %}" class="btn">Configure transfer source directories</a></p>

    <p><a href="{% url accounts.views.list %}" class="btn">Users</a></p>

  </div>

{% endblock %}
