{% extends "layout_fluid.html" %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

  <h1>Administration</h1>

  <div class="span12">

    <p><a href='/administration/dip/' class='btn'>Configure AtoM DIP upload</a></p>

    <p><a href='/administration/dips/contentdm/' class='btn'>Configure ContentDM DIP upload</a></p>

    <p><a href='/administration/sources/' class='btn'>Configure transfer source directories</a></p>


  </div>

{% endblock %}
