{% extends "layout_fluid.html" %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/file-explorer.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/directory_picker.js"></script>
{% endblock %}

{% block sidebar %}
  {% include "main/administration/_sidebar.html" %}
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/backbone-file-explorer.css" />
<style>
.backbone-file-explorer {
  width: 500px;
}

.backbone-file-explorer-busy {
  background-image: url('{{ STATIC_URL }}img/ajax-loader.gif')
}

.backbone-file-explorer-directory {
  background-image: url('{{ STATIC_URL }}images/filefolder.png');
}

.backbone-file-explorer-directory_open {
  background-image: url('{{ STATIC_URL }}images/filefolderopen.png');
}

.backbone-file-explorer-busy {
  background-image: url('{{ STATIC_URL }}images/ajax-loader.gif')
}

.backbone-file-explorer-idle {
  background-image: url('')
}
</style>
{% endblock %}

{% block content %}

<script>
$(document).ready(function() {
  var picker = new DirectoryPickerView({
      el: $('#explorer'),
      levelTemplate: $('#template-dir-level').html(),
      entryTemplate: $('#template-dir-entry').html()
  });
  picker.updateSources(function() {
    var picker = new DirectoryPickerView({
      el: $('#explorer'),
      levelTemplate: $('#template-dir-level').html(),
      entryTemplate: $('#template-dir-entry').html()
    });
    picker.busy();
    $.get('/filesystem/contents/', function(results) {
      picker.structure = results;
      picker.render();
      picker.idle();
    });
  });
});
</script>

  <h1>Administration</h1>

  <div id='directories'></div>

  <div id='explorer' class='backbone-file-explorer'></div>

<script type="text/template" id='template-dir-level'>
  <div class="backbone-file-explorer-level"></div>
</script>

<script type="text/template" id='template-dir-entry'>
  <div class="backbone-file-explorer-entry" style='clear:both'>
    <span class="backbone-file-explorer-directory_icon_button"></span>
    <span class="backbone-file-explorer-directory_entry_name"><%= name %></span>
    <span class="backbone-file-explorer-directory_entry_actions"></span>
  </div>
</script>

<script type="text/template" id="template-source-directory-table">
<table>
  <thead>
    <th>Path</th>
    <th></th>
  </thead>
  <tbody>
  <%= rows %>
  </tbody>
</table>
</script>

<script type="text/template" id="template-source-directory-table-row">
  <tr>
    <td><%= path %></td>
    <td><a href='/administration/sources/delete/<%= id %>' class='btn' style='float:right'>Delete</a></td>
  </tr>
</script>

{% endblock %}
