[Desktop Entry]
Type=Application
Name=DROID
GenericName=Digital Record Object Identificatio
Exec=/usr/bin/droid-gui.sh
Icon=droid-icon
Terminal=false
Categories=Utility;

