[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/externals/metadata-extractor/metadata.sh
Name=NLNZ-metadata-extractor
Icon=gnome-panel-launcher
