Source: transcoder
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://archivematica.org

Package: transcoder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, inkscape, ffmpeg2theora, libavcodec-unstripped-52, openjdk-6-jre, openoffice.org, openoffice.org-java-common, sanitize-names, uuid, clamav, imagemagick 
Description: Transcoder for Archivematica
  Transcoder for Archivematica
  
